{% extends 'base.html' %}

{% block title %}Record {% endblock%}

{% block body %}



<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h1>Cliente:</h1>
            
            <div class="card">
                <div class="card-header">
                    {{ record.first_name }} {{ record.last_name }}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Correo: </strong>
                        {{ record.email }} <br />
                        <strong>Teléfono: </strong>
                        {{ record.phone }} <br />
                        <strong>Dirección: </strong>
                        {{ record.address }} <br />
                        <strong>Ciudad: </strong>
                        {{ record.city }} <br />
                        <strong>Estado: </strong>
                        {{ record.state }} <br />
                        <strong>Zip: </strong>
                        {{ record.zipcode }} <br />
                        <strong>Id: </strong>
                        {{ record.id }} <br />
                    </p>
                </div>
            </div>

            <br /> 
            <a href="{% url 'home' %}" class="btn btn-primary"> Regresar </a>
            <a href="{% url 'delete_record' record.id %}" class="btn btn-danger"> Borrar </a>
            <a href="{% url 'update_record' record.id %}" class="btn btn-secondary"> Editar </a>

        </div>

        
    </div>
</div>

{% endblock %}